<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<div class="header-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center">
                <a href="" class="site-logo">
                    <img src="../images/logo.png" alt="Image" class="img-fluid">
                </a>
            </div>
            <a href="#" class="mx-auto d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span
                        class="icon-menu h3"></span></a>
        </div>
    </div>
    <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-lg-block" role="banner">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="mx-auto">
                    <nav class="site-navigation position-relative text-left" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-lg-block border-none">
                            <li class="active"><a href="/admin/adminhome" class="nav-link text-left">Home</a></li>
                            <li class="menu-item"><a href="/admin/manageadmin" class="nav-link text-left">Admins</a></li>
                            <li class="menu-item"><a href="/admin/managestaff" class="nav-link text-left">Staffs</a></li>
                            <li class="menu-item"><a href="/admin/managecategory" class="nav-link text-left">Categories</a>
                            </li>
                            <li class="menu-item"><a href="/admin/managesubcategory" class="nav-link text-left">Sub
                                    Categories</a></li>
                            <li class="menu-item"><a href="/admin/manageproduct" class="nav-link text-left">Products</a></li>
                            <li class="menu-item menu-item-has-children dropdown dropright"><a href="" class="nav-link text-left">Orders</a>
                                <ul class="sub-menu">
<!--                                    <li class="menu-item list-group-item"><a href="/admin/todayorder">Today Orders</a></li>-->
                                    <li class="menu-item list-group-item"><a href="/admin/allorder">All Orders</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children dropdown dropright"><a href=""
                                                                                               class="nav-link text-left">Hello,
                                    &nbsp;<strong id="adminsession">Admin</strong></a>
                                <ul class="sub-menu">
                                    <li class="menu-item list-group-item"><a href="/admin/admin_changepassword">Change
                                            Password</a></li>
                                    <li class="menu-item list-group-item"><a href="/admin/adminlogout">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


