<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('../headerfiles') %>
</head>
<body onload="checksession()">
<%- include('adminheader') %>
<div class="container">

    <div class="main-sec"></div>
    <br>
    <br>
    <div class="row justify-content-center">
        <h1>Manage Staffs</h1>
    </div>


    <div class="row justify-content-center">
        <a href="#" id="plus" class="open-button" onclick="openForm()"><i class="fa fa-5x fa-plus-square"></i></a>
    </div>
    <div class="row justify-content-center">
        <a href="#" id="minus" class="open-button" style="display: none" onclick="closeForm()"><i
                    class="fa fa-5x fa-minus-square"></i></a>
    </div>
    <div class="form-popup" id="myform">
        <form action="" class="form-container" method="post" id="addform">
            <div class="row mt-3">

                <div class="col-sm-5 offset-1 mr-3">

                    <div class="row">
                        <div class="input-container">
                            <i class="icon fa fa-user"></i>
                            <input type="text" name="staffname" id="staffname"
                                   placeholder="enter staff name"
                                   data-rule-required="true" data-msg-required="Please enter an unique username"
                                   class="input-field">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-container">
                            <i class="icon fa fa-phone"></i>
                            <input type="number" name="mobile" id="mobile"
                                   placeholder="enter a valid mobile number"
                                   data-rule-required="true" data-msg-required="Please enter a valid mobile number"
                                   class="input-field" minlength="10" maxlength="12">
                        </div>
                    </div>
                </div>

                <div class="col-sm-5 ml-3">
                    <div class="row">
                        <div class="input-container">
                            <i class="icon fa fa-lock"></i>
                            <input type="password" name="password" id="password"
                                   placeholder="enter secure password"
                                   data-rule-required="true" data-msg-required="Please enter password"
                                   class="input-field"><span><i
                                        class="fa fa-eye-slash" id="eyeslash" onclick="showpassword()"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-container">
                            <i class="icon fa fa-envelope"></i>
                            <input type="email" name="email" id="email"
                                   placeholder="enter staff's email"
                                   data-rule-required="true" data-msg-required="Please enter email"
                                   class="input-field">
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="input-container justify-content-center">
                    <button type="button" name="addstaff" onclick="add_staff()"
                            class="btn btn-success w-25">Submit
                    </button>
                    <input type="hidden" name="action" id="action" value="add">
                </div>
            </div>
        </form>


    </div>

    <div class="table-responsive">
        <table id="mystaff" class="table tablemera">
            <thead>
            <tr>
                <th>Sr No.</th>
                <th>Staff Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody id="tableforstaff"></tbody>
        </table>
    </div>
    <!-- The Modal -->
    <div class="row" id="output"></div>
    <div class="modal fade" id="myModalforstaff">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" method="post" id="updateform">

                    <!-- Modal Header -->
                    <div class="modal-header justify-content-center">
                        <h4 class="modal-title">Edit Staff</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mt-3">

                            <div class="col-sm-8 offset-2 mr-3">
                                <div class="row justify-content-center">
                                    <label for="editstaffname" class="font-weight-bolder"><u>Staff Name </u></label>
                                    <input type="text" name="editstaffname" id="editstaffname"
                                           placeholder="enter staff name" readonly
                                           data-rule-required="true"
                                           data-msg-required="Please enter an name"
                                           class="input-field" value="">
                                </div>

                                <div class="row form-group justify-content-center">
                                    <label for="editemail" class="font-weight-bolder"><u>Email </u></label>
                                    <input type="email" name="editemail" id="editemail"
                                           placeholder="enter a valid email"
                                           data-rule-required="true"
                                           data-msg-required="Please enter a valid email"
                                           class="input-field"
                                           value="">
                                </div>
                                <div class="row form-group justify-content-center">
                                    <label for="editmobile" class="font-weight-bolder"><u>Mobile </u></label>
                                    <input type="tel" name="editmobile" id="editmobile"
                                           placeholder="enter a valid mobile number"
                                           data-rule-required="true"
                                           data-msg-required="Please enter a valid mobile number"
                                           class="input-field" minlength="10" maxlength="10"
                                           value="">
                                </div>
                                <div class="row form-group justify-content-center">
                                    <label for="editpassword" class="font-weight-bolder"><u>Password </u></label>
                                    <input type="password" name="editpassword" id="editpassword"
                                           placeholder="enter secure password"
                                           data-rule-required="true" data-msg-required="Please enter password"
                                           class="input-field">
                                </div>
                                <div class="row form-group justify-content-center">
                                    <label for="status" class="font-weight-bolder"><u>Status</u></label>
                                    <select name="status" id="status" class="input-field" data-rule-required="true"
                                            data-msg-required="Super Category must be selected">
                                        <option value="Blocked">Block</option>
                                        <option value="Activated">Active</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" onclick="update_staff()" name="updatestaff" class="btn btn-danger">Save
                            Changes
                        </button>
                        <input type="hidden" name="action" id="editaction" value="edit">
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
<%- include('../footer') %>
<script>
    var temptable;

    function add_staff() {
        if ($("#addform").valid()) {
            var controls = document.getElementById("addform").elements;
            var formdata = new FormData();
            for (var i = 0; i < controls.length; i++) {
                if (controls[i].type == "file") {
                    formdata.append(controls[i].name, controls[i].files[0]);
                } else {
                    formdata.append(controls[i].name, controls[i].value);
                }
            }
            var xml = new XMLHttpRequest();
            xml.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var output = this.responseText;
                    // console.log(output);
                    document.getElementById("output").innerHTML = "<h4 class='text-center'>" + output + "</h4>";
                    document.getElementById("addform").reset();
                    viewstaff();
                }
            };
            xml.open("POST", "./staffaction", true);
            xml.send(formdata);
        }
    }

    function viewstaff() {
        // alert();
        let formdata = new FormData();
        formdata.append("action", "view");
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var ar = JSON.parse(this.response);
                // alert(ar);
                console.log(ar);
                var tab = "";
                var srno = 1;
                for (var x in ar) {
                    obj = ar[x];
                    tab += "<tr>";
                    tab += "<td>" + srno + "</td>";
                    tab += "<td>" + obj.staffname + "</td>";
                    tab += "<td>" + obj.email + "</td>";
                    tab += "<td>" + obj.mobile + "</td>";
                    tab += "<td>" + obj.status + "</td>";
                    tab += "<td><i onclick='editstaff(" + JSON.stringify(obj) + ")'" + "class='fa fa-edit text-warning' style='cursor: pointer;'></i></td>";
                    tab += "</tr>";
                    srno++;
                }
                document.getElementById("tableforstaff").innerHTML = tab;
                try {
                    if (temptable != undefined) {
                        temptable.destroy();
                    }
                    temptable = $("#mystaff").dataTable({
                        "bPaginate": false
                    });
                } catch (e) {

                }
            } else {
                document.getElementById("tableforstaff").innerHTML = "<span class='spinner-border'></span>";
            }
        };
        xml.open("POST", "./staffaction", true);
        xml.send(formdata);
    }

    function editstaff(obj) {
        $("#myModalforstaff").modal("show");
        document.getElementById("editstaffname").value = obj.staffname;
        document.getElementById("editmobile").value = obj.mobile;
        document.getElementById("editemail").value = obj.email;
        document.getElementById("editpassword").value = obj.password;
        document.getElementById("status").value = obj.status;
    }

    function update_staff() {
        if ($("#updateform").valid()) {
            var controls = document.getElementById("updateform").elements;
            var formdata = new FormData();
            for (var i = 0; i < controls.length; i++) {
                if (controls[i].type == "file") {
                    formdata.append(controls[i].name, controls[i].files[0]);
                } else {
                    formdata.append(controls[i].name, controls[i].value);
                }
            }
            var xml = new XMLHttpRequest();
            xml.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert(this.responseText);
                    viewstaff();
                    $("#myModalforstaff").modal('hide');
                }
            };
            xml.open("POST", "./staffaction", true);
            xml.send(formdata);
        }
    }


    $(document).ready(function () {
        viewstaff();
    });
</script>
</body>
</html>
