<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Daily Orders</title>
    <%- include('../headerfiles') %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
</head>
<body>
<%- include('staffheader') %>
<div class="super_container">
    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../images/menu.jpg"
             data-speed="0.8"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_subtitle page_subtitle">The Venue</div>
                            <div class="home_title"><h1>All Orders</h1></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
        <h3> All Orders</h3>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Pending</a></li>
            <li><a href="#tabs-2">Paid</a></li>
        </ul>
        <div id="tabs-1">
            <div class="table-responsive">
                <table id="mypay1" class="table tablemera table-bordered mt-4">
                    <thead>
                    <tr>
                        <th>Sr no.</th>
                        <th>Order Id</th>
                        <th>Order Date Time</th>
                        <th>Customer&nbsp;Email</th>
                        <th>Payment&nbsp;Method</th>
                        <th>Grand&nbsp;Total</th>
                        <th>Status</th>
                        <th>Recieve Payment</th>
                        <th>View Detail</th>
                    </tr>
                    </thead>
                    <tbody id="pending">
                    <?php
                    date_default_timezone_set("Asia/Kolkata");
                    $currentDateTime = date('Y-m-d');
                    $k = 0;
                    $order = "SELECT `order`.* FROM `order` INNER JOIN orderdetail ON order.orderid=orderdetail.orderid WHERE order.status ='pending' and orderdetail.status ='delivered' group BY orderdetail.orderid";

                    //                    $order = "SELECT * FROM `order` where date(datetime)='$currentDateTime' and status='pending'";
                    $result = mysqli_query($conn, $order);
                    while ($bill = mysqli_fetch_array($result)) {
                        $k++;
                        ?>
                    <tr>
                        <td><?php echo $k; ?></td>
                        <td><?php echo $bill["orderid"]; ?></td>
                        <td><?php echo $bill["datetime"]; ?></td>
                        <td><?php echo $bill["mobile"]; ?></td>
                        <td><?php echo $bill["paymentmode"]; ?></td>
                        <td><i class="fa fa-rupee"></i>&nbsp;<?php echo $bill["amount"]; ?></td>
                        <td><?php echo $bill["status"]; ?></td>
                        <td><a class="btn btn-danger" href="paidbillstatusold.php?q=<?php echo $bill[" orderid"];
                            ?>">Recieve <i
                                    class="fa fa-money-bill"></i></a>
                        </td>
                        <td><a href="cashierbilldetail.php?q=<?php echo $bill[" orderid"]; ?>"><i
                                    class="fa fa-s15 fa-info-circle"></i></a>
                        </td>
                    </tr>
                    <?php
                    }
                    ?>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="tabs-2">
            <div class="table-responsive">
                <table id="mypay2" class="table tablemera table-bordered mt-4">
                    <thead>
                    <tr>
                        <th>Sr no.</th>
                        <th>Order Id</th>
                        <th>Order Date Time</th>
                        <th>Customer no.</th>
                        <th>Payment Method</th>
                        <th>Grand Total</th>
                        <th>Status</th>
                        <th>View Detail</th>
                    </tr>
                    </thead>
                    <tbody id="paid">
                    <?php
                    date_default_timezone_set("Asia/Kolkata");
                    $currentDateTime = date('Y-m-d');
                    $k = 0;
                    $order = "SELECT `order`.* FROM `order` INNER JOIN orderdetail ON order.orderid=orderdetail.orderid WHERE order.status ='paid' and orderdetail.status ='delivered' group BY orderdetail.orderid";

                    //                    $order = "SELECT * FROM `order` where date(datetime)='$currentDateTime' and status='paid'";
                    $result = mysqli_query($conn, $order);
                    while ($bill = mysqli_fetch_array($result)) {
                        $k++;
                        ?>
                    <tr>
                        <td><?php echo $k; ?></td>
                        <td><?php echo $bill["orderid"]; ?></td>
                        <td><?php echo $bill["datetime"]; ?></td>
                        <td><?php echo $bill["mobile"]; ?></td>
                        <td><?php echo $bill["paymentmode"]; ?></td>
                        <td><i class="fa fa-rupee"></i>&nbsp;<?php echo $bill["amount"]; ?></td>
                        <td><?php echo $bill["status"]; ?></td>
                        <td><a href="cashierbilldetail.php?q=<?php echo $bill[" orderid"]; ?>"><i
                                    class="fa fa-s15 fa-info-circle"></i></a>
                        </td>
                    </tr>
                    <?php
                    }
                    ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModaldetail">
        <div class="modal-dialog modal-lg modal-sm">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Order Detail</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="detail" class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Sr no.</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Discount ( in %)</th>
                                <th>Quantity</th>
                                <th>Net Price</th>
                                <th>Status</th>
                                <th>Photo</th>
                            </tr>
                            </thead>
                            <tbody id="orderdetail">
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="alert alert-danger" id="output">
    </div>


</div>
<%- include('../footer2') %>
<script src="datatable/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="datatable/jquery.dataTables.css">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var temptable1;
    var temptable2;
    var temptable3;

    function viewmyorder() {
        let formdata = new FormData();
        formdata.append("action", "myorder");
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var ar = JSON.parse(this.response);
                console.log(ar);
                var paidtab = "";
                var pendingtab = "";
                var paidsrno = 1;
                var pendingsrno = 1;
                for (var x in ar) {
                    obj = ar[x];
                    if (obj.status == "pending") {
                        pendingtab += "<tr>";
                        pendingtab += "<td>" + pendingsrno + "</td>";
                        pendingtab += "<td>" + obj.orderid + "</td>";
                        pendingtab += "<td>" + obj.datetime + "</td>";
                        pendingtab += "<td>" + obj.mobile + "</td>";
                        pendingtab += "<td>" + obj.paymentmode + "</td>";
                        pendingtab += "<td><i class='fa fa-rupee'></i>&nbsp;" + obj.amount + "</td>";
                        pendingtab += "<td class='text-capitalize'>" + obj.status + "</td>";
                        pendingtab += "<td><button onclick='updatebillstatus(\"" + obj.orderid + "\",\"" + obj.paymentmode + "\",\"" + obj.amount + "\")'" + " class='btn btn-primary' style='cursor: pointer;'>Recieve Money</button></td>";
                        pendingtab += "<td><i onclick='viewmyorderdetail(\"" + obj.orderid + "\")'" + " class='fa fa-info-circle' style='cursor: pointer;'></i></td>";
                        pendingtab += "</tr>";
                        pendingsrno++;
                    } else if (obj.status == "paid") {
                        paidtab += "<tr>";
                        paidtab += "<td>" + paidsrno + "</td>";
                        paidtab += "<td>" + obj.orderid + "</td>";
                        paidtab += "<td>" + obj.datetime + "</td>";
                        paidtab += "<td>" + obj.mobile + "</td>";
                        paidtab += "<td>" + obj.paymentmode + "</td>";
                        paidtab += "<td><i class='fa fa-rupee'></i>&nbsp;" + obj.amount + "</td>";
                        paidtab += "<td class='text-capitalize'>" + obj.status + "</td>";
                        paidtab += "<td><i onclick='viewmyorderdetail(\"" + obj.orderid + "\")'" + "class='fa fa-info-circle' style='cursor: pointer;'></i></td>";
                        paidtab += "</tr>";
                        paidsrno++;
                    }
                }

                document.getElementById("pending").innerHTML = pendingtab;
                document.getElementById("paid").innerHTML = paidtab;
                try {
                    if (temptable1 != undefined) {
                        temptable1.destroy();
                    }
                    temptable1 = $("#mypay1").dataTable({
                        // "bPaginate": false
                    });
                } catch (e) {

                }
                try {
                    if (temptable2 != undefined) {
                        temptable2.destroy();
                    }
                    temptable2 = $("#mypay2").dataTable({
                        // "bPaginate": false
                    });
                } catch (e) {

                }
            } else {
                document.getElementById("pending").innerHTML = "<span class='spinner-border'></span>";
                document.getElementById("paid").innerHTML = "<span class='spinner-border'></span>";
            }
        };
        xml.open("POST", "./cashieraction", true);
        xml.send(formdata);
    }

    function viewmyorderdetail(orderid) {
        $("#myModaldetail").modal("show");
        let formdata = new FormData();
        formdata.append("orderid", orderid);
        formdata.append("action", "myorderdetail");
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var ar = JSON.parse(this.response);
                console.log(ar);
                var tab = "";
                var srno = 1;
                for (var x in ar) {
                    obj = ar[x];
                    tab += "<tr>";
                    tab += "<td>" + srno + "</td>";
                    tab += "<td>" + obj.productname + "</td>";
                    tab += "<td><i class='fa fa-rupee'></i>&nbsp;" + obj.price + "</td>";
                    tab += "<td>" + obj.discount + " %</td>";
                    tab += "<td>" + obj.qty + "</td>";
                    tab += "<td><i class='fa fa-rupee'></i>&nbsp;" + obj.netprice + "</td>";
                    tab += "<td class='text-capitalize'>" + obj.status + "</td>";
                    tab += "<td><img src='../" + obj.photo + "' style='height: 90px;width: 90px' alt=''>";
                    tab += "</tr>";
                    srno++;
                }
                document.getElementById("orderdetail").innerHTML = tab;
                try {
                    if (temptable3 != undefined) {
                        temptable3.destroy();
                    }
                    temptable3 = $("#detail").dataTable({
                        "bPaginate": false
                    });
                } catch (e) {

                }
            } else {
                document.getElementById("orderdetail").innerHTML = "<span class='spinner-border'></span>";
            }
        };
        xml.open("POST", "./cashieraction", true);
        xml.send(formdata);
    }

    function updatebillstatus(orderid, pm, amount) {
        var paymentmethod = pm;
        if (paymentmethod == "Online") {
            var amount = amount * 100;
            // alert(amount);
            var options = {
                "key": "rzp_test_dRWiKHS7zr2Gki",
                "amount": amount,
                "name": "Bar-X-Change",
                "description": "",
                "image": "",
                "handler": function (response) {
                    //alert(response.razorpay_payment_id);
                    if (response.razorpay_payment_id == "") {
                        //alert('Failed');
                        window.location.href = "add_payment_details.php?status=failed";
                    } else {
                        var formdata = new FormData();
                        formdata.append("action", "changestatus");
                        formdata.append("orderid", orderid);
                        var httpreg = new XMLHttpRequest();
                        httpreg.onreadystatechange = function () {
                            if (this.status == 200 && this.readyState == 4) {
                                var output = this.responseText;
                                document.getElementById("output").innerHTML = "<h3 class='text-danger'>" + output + "</h3>";
                                setInterval("movenextfunction()", 5000);
                            }
                        };
                        httpreg.open("POST", "./cashieraction", true);
                        httpreg.send(formdata);
                    }
                },
                "prefill": {
                    "name": "",
                    "email": "",
                    'contact': ""
                },
                "notes": {
                    "address": ""
                },
                "theme": {
                    "color": "#545cf3"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        } else {
            var formdata = new FormData();
            formdata.append("action", "changestatus");
            formdata.append("orderid", orderid);
            var httpreg = new XMLHttpRequest();
            httpreg.onreadystatechange = function () {
                if (this.status == 200 && this.readyState == 4) {
                    var output = this.responseText;
                    document.getElementById("output").innerHTML = "<h3 class='text-danger'>" + output + "</h3>";
                    setInterval("movenextfunction()", 5000);
                    viewmyorder();
                }
            };
            httpreg.open("POST", "./cashieraction", true);
            httpreg.send(formdata);
        }
    }

    function movenextfunction() {
        document.getElementById('output').innerHTML = "";
    }

    $(document).ready(function () {
        checksession();
        viewmyorder();
    })
</script>

</body>
</html>
