<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/><!-- /Added by HTTrack -->
<head>
    <title>The Menu</title>
    <%- include("../headerfiles") %>
</head>
<body>
<div class="super_container">
    <%- include("staffheader") %>

    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../images/menu.jpg"
             data-speed="0.8"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_subtitle page_subtitle">The Venue</div>
                            <div class="home_title"><h1>The Menu</h1></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="themenu">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <div class="section_subtitle page_subtitle">Something new</div>
                        <div class="section_title"><h1>Discover Our Menu</h1></div>
                    </div>
                </div>
            </div>
            <div class="row themenu_text_row">
                <div class="col-lg-6">
                    <div class="themenu_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                            scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus
                            finibus. Ut non justo eleifend, facilisis nibh ut, interdum odio. Suspendisse potenti.
                            Vivamus luctus diam eu neque rutrum, vitae aliquet dolor venenatis. Nulla consequat
                            fringilla.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="themenu_text">
                        <p>Sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at
                            rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Ut non justo
                            eleifend, facilisis nibh ut, interdum odio. Suspendisse potenti. Vivamus luctus diam eu
                            neque rutrum, vitae aliquet dolor venenatis. Nulla consequat fringilla.</p>
                    </div>
                </div>
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Food</a></li>
                    <li><a href="#tabs-2">Liquor</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Select Category</h4>
                            <select name="foodcategory" id="foodcategory" class="input-field" data-rule-required="true"
                                    data-msg-required="Category must be selected"
                                    onchange="showsubcategory(this.value)">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <h4>Select Sub Category</h4>
                            <select name="subcategory" id="foodsubcategory" class="input-field"
                                    data-rule-required="true"
                                    data-msg-required="Category must be selected" onchange="showmenu(this.value)">
                                <option value="">Select Subcategory</option>
                            </select>
                        </div>
                    </div>
                    <div id="foodmenuproduct" class="row themenu_row">

                    </div>
                </div>
                <div id="tabs-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Select Category</h4>
                            <select name="liquorcategory" id="liquorcategory" class="input-field"
                                    data-rule-required="true"
                                    data-msg-required="Category must be selected"
                                    onchange="showsubcategory(this.value)">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <h4>Select Sub Category</h4>
                            <select name="subcategory" id="liquorsubcategory" class="input-field"
                                    data-rule-required="true"
                                    data-msg-required="Category must be selected" onchange="showmenu(this.value)">
                                <option value="">Select Subcategory</option>
                            </select>
                        </div>
                    </div>
                    <div id="liquormenuproduct" class="row themenu_row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../footer2") %>
<link rel="stylesheet" href="../resources/demos/style.css">
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<script>
    function showcategory() {
        let formdata = new FormData();
        formdata.append("action", "categoryview");
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var ar = JSON.parse(this.response);
                // console.log(ar);
                var tabliquor = "";
                var tabfood = "";
                tabliquor += "<option value=''>Select Category</option>";
                tabfood += "<option value=''>Select Category</option>";
                var srno = 1;
                var srno1 = 1;
                for (var x in ar) {
                    obj = ar[x];
                    if (obj.supercategory == "liquor") {
                        tabliquor += "<option value='" + obj.categoryname + "'>" + srno + ". " + obj.categoryname + " (" + obj.supercategory + ")</option>";
                        srno++;
                    } else {
                        tabfood += "<option value='" + obj.categoryname + "'>" + srno1 + ". " + obj.categoryname + " (" + obj.supercategory + ")</option>";
                        srno1++;
                    }
                }
                document.getElementById("foodcategory").innerHTML = tabfood;
                document.getElementById("liquorcategory").innerHTML = tabliquor;
            } else {
                document.getElementById("foodcategory").innerHTML = "<span class='spinner-border'></span>";
                document.getElementById("liquorcategory").innerHTML = "<span class='spinner-border'></span>";
            }
        };
        xml.open("POST", "./menuaction", true);
        xml.send(formdata);
    }

    function showsubcategory(category) {
        let formdata = new FormData();
        formdata.append("action", "subcategoryview");
        formdata.append("category", category);
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var ar = JSON.parse(this.response);
                var foodtab = "";
                var liquortab = "";
                foodtab += "<option value=''>Select Sub Category</option>";
                liquortab += "<option value=''>Select Sub Category</option>";

                var srno = 1;
                for (var x in ar) {
                    obj = ar[x];
                    if (obj.supercategory == "liquor") {
                        liquortab += "<option value='" + obj.subcategoryid + "'>" + srno + ". " + obj.subcategoryname + " (" + obj.category + " || " + obj.supercategory + ")</option>";
                    } else {
                        foodtab += "<option value='" + obj.subcategoryid + "'>" + srno + ". " + obj.subcategoryname + " (" + obj.category + " || " + obj.supercategory + ")</option>";
                    }
                    srno++;
                }
                document.getElementById("liquorsubcategory").innerHTML = liquortab;
                document.getElementById("foodsubcategory").innerHTML = foodtab;
            } else {
                document.getElementById("liquorsubcategory").innerHTML = "<span class='spinner-border'></span>";
                document.getElementById("foodsubcategory").innerHTML = "<span class='spinner-border'></span>";
            }
        };
        xml.open("POST", "./menuaction", true);
        xml.send(formdata);
    }

    function showmenu(subcatid) {
        let formdata = new FormData();
        formdata.append("action", "menuview");
        formdata.append("subcatid", subcatid);
        var xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var ar = JSON.parse(this.response);
                var foodtab = "";
                var liquortab = "";
                var srno = 1;
                var srno1 = 1;
                for (var x in ar) {
                    obj = ar[x];
                    obj.productid;
                    if (obj.supercategory == "liquor") {
                        liquortab += "<div class='col-lg-4 themenu_column form-group'>";
                        liquortab += "<div class='themenu_col trans_400'>";
                        liquortab += "<div class='' style='font-size: 20px'>" + obj.category + "</div>";
                        liquortab += "<div class='themenu_title' style='font-size: 25px'>" + obj.subcategoryname + "</div>";
                        liquortab += "<div class='dish_list'><div class='dish'><div class='dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start'><div class='dish_title'>" + obj.productname + "&nbsp;&nbsp;<img style='height: 55px;width: 55px' src='../" + obj.photo + "' alt=''></div><div class='dish_price'>&#8377;";
                        if ((obj.discount != 0) && (obj.discount > 0)) {
                            var discountedPrice = obj.price - (obj.price * obj.discount / 100);
                            liquortab += Math.floor(discountedPrice);
                        } else {
                            liquortab += Math.floor(obj.price);
                        }
                        liquortab += "</div></div> <div class='dish_contents'>" + obj.description + "</div>";
                        if (obj.stock > 0) {
                            liquortab += `<div class='dish_order'><a style='cursor: pointer' onclick='addToCart(${obj.productid},1)'>Order Now</a></div>`;
                        } else {
                            liquortab += "<div class='dish_order'><p style='color: red;font-weight: bold;cursor: not-allowed'>Out of Stock</p></div>";
                        }
                        liquortab += "</div></div></div>";
                        liquortab += "</div>";
                        srno++;
                    } else {
                        foodtab += "<div class='col-lg-4 themenu_column form-group'>";
                        foodtab += "<div class='themenu_col trans_400'>";
                        foodtab += "<div class='' style='font-size: 20px'>" + obj.category + "</div>";
                        foodtab += "<div class='themenu_title' style='font-size: 25px'>" + obj.subcategoryname + "</div>";
                        foodtab += "<div class='dish_list'><div class='dish'><div class='dish_title_container d-flex flex-xl-row flex-column align-items-start justify-content-start'><div class='dish_title'>" + obj.productname + "&nbsp;&nbsp;<img style='height: 55px;width: 55px' src='../" + obj.photo + "' alt=''></div><div class='dish_price'>&#8377;";
                        if ((obj.discount != 0) && (obj.discount > 0)) {
                            var discountedPrice = obj.price - (obj.price * obj.discount / 100);
                            foodtab += Math.floor(discountedPrice);
                        } else {
                            foodtab += Math.floor(obj.price);
                        }
                        foodtab += "</div></div> <div class='dish_contents'>" + obj.description + "</div>";
                        if (obj.stock > 0) {
                            foodtab += `<div class='dish_order'><a style='cursor: pointer' onclick='addToCart(${obj.productid},1)'>Order Now</a></div>`;
                        } else {
                            foodtab += "<div class='dish_order'><p style='color: red;font-weight: bold;cursor: not-allowed'>Out of Stock</p></div>";
                        }
                        foodtab += "</div></div></div>";
                        foodtab += "</div>";
                        srno1++;
                    }
                }
                document.getElementById("foodmenuproduct").innerHTML = foodtab;
                document.getElementById("liquormenuproduct").innerHTML = liquortab;
            } else {
                document.getElementById("foodmenuproduct").innerHTML = "<span class='spinner-border'></span>";
                document.getElementById("liquormenuproduct").innerHTML = "<span class='spinner-border'></span>";
            }
        };
        xml.open("POST", "./menuaction", true);
        xml.send(formdata);
    }

    function addToCart(productid, qty = null) {
        if (qty == null) {
            if ($("#myFormQty").valid()) {
                var qtyval = document.getElementById("qty").value;
            } else {
                alert("Please choose the Quantity less than stock");
            }
        } else {
            qtyval = 'index';
        }
        if (qtyval != undefined) {
            let formdata = new FormData();
            formdata.append("action", 'addtocart');
            formdata.append("productid", productid);
            formdata.append("qty", qtyval);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.status == 200 && this.readyState == 4) {
                    var output = this.responseText;
                    document.getElementById("cartcount").innerHTML = output;
                    alert("1 Item added Successfully in the Cart");
                }
            };
            xmlhttp.open("POST", "./addtoCart", true);
            xmlhttp.send(formdata);
        }
    }


    $(function () {
        $("#tabs").tabs();
        $("#tabs2").tabs();
        checksession();
        showcategory();
        showsubcategory('');
        showmenu('');
    });


</script>
</body>
</html>