<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("../headerfiles") %>
    <title>Document</title>
</head>
<body>
<%- include("staffheader") %>

<div class="super_container">
    <div class="home">
        <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../images/contact.jpg"
             data-speed="0.8"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content text-center">
                            <div class="home_subtitle page_subtitle">The Venue</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="contact_list_container d-flex flex-column align-items-lg-center justify-content-start">
                        <form id="form1" method="post">
                            <div class="row justify-content-center">
                                <div class="input-containder">
                                    <h1 class="text-danger input-field">Change Password</h1>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <p>Enter Old Password</p>
                                        <div class="input-container">
                                            <input type="password" name="oldpassword" id="oldpassword"
                                                   placeholder="enter old password"
                                                   data-rule-required="true"
                                                   data-msg-required="Please enter old password"
                                                   class="input-field">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Enter New Password</p>
                                        <div class="input-container">
                                            <input type="password" name="newpassword" id="newpassword"
                                                   placeholder="enter new password"
                                                   data-rule-required="true"
                                                   data-msg-required="Please enter new password"
                                                   class="input-field">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>Enter Confirm Password</p>
                                        <div class="input-container">
                                            <input type="password" name="newconpassword" id="newconpassword"
                                                   placeholder="enter confirm password"
                                                   data-rule-required="true"
                                                   data-msg-required="Please enter confirm new password"
                                                   data-rule-equalto="#newpassword"
                                                   data-msg-equalto="New Password and confirm new password must be same"
                                                   class="input-field">
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="input-container justify-content-center">
                                    <input type="button" value="submit" onclick="staff_changepassword()"
                                           class="btn btn-success w-25">
                                    <input type="hidden" name="action" id="action" value="changepassword">
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center" id="output"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../footer2") %>
<script>
    function staff_changepassword() {
        if ($("#form1").valid()) {
            var controls = document.getElementById("form1").elements;
            var formdata = new FormData();
            for (var i = 0; i < controls.length; i++) {
                if (controls[i].type == "file") {
                    formdata.append(controls[i].name, controls[i].files[0]);
                } else {
                    formdata.append(controls[i].name, controls[i].value);
                }
            }
            var xml = new XMLHttpRequest();
            xml.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var output = this.responseText;
                    document.getElementById("output").innerHTML = "<h3 class='text-danger'>" + output + "</h3>";
                    document.getElementById("form1").reset();
                    setInterval("movenextfunction()", 5000);
                }
            };
            xml.open("POST", "./staffaction", true);
            xml.send(formdata);
        }
    }

    function movenextfunction() {
        document.getElementById('output').innerHTML = "";
    }


    $(document).ready(function (){
        checksession();
        checkcart();
    })
</script>
</body>
</html>

